{% extends "base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<section class="home">
  {% if error %}
    <p class="error">{{error}}</p>
  {% endif %}
  <form action="/search" method="post" class="search-form">
    <input name="title" placeholder="Search for movie"/>
    <button type="submit">Search</button>
  </form>
</section>

<section class="search-results">
  <div class="list">
    {% for movie in results %}
      <a class="list-link" href="/movie/{{movie['imdbID']}}">
        {{ movie.Title }}
      </a>
    {% endfor %}
  </div>
</section>
{% endblock %}

